{% extends 'base.html' %}
{% load static %}
{% block title %}Services We offer Cleaning Company homepage{% endblock %}
{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({%static 'images/bg_2.jpg'%});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs mb-2"><span class="mr-2"><a href="{%url 'index' %}>Home <i class="fa fa-chevron-right"></i></a></span> <span>Services <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-0 bread">Services</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Services</span>
            <h2>How We Works</h2>
          </div>
        </div>
    		<div class="row">
          <div class="col-md-6 col-lg-4 services ftco-animate">
            <div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-workplace"></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">Office Cleaning</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                <p><a href="#" class="btn-custom">Read more</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 services ftco-animate">
          	<div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-pool"></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">Pool Cleaning</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                <p><a href="#" class="btn-custom">Read more</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 services ftco-animate">
            <div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-rug"></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">Carpet Cleaning</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                <p><a href="#" class="btn-custom">Read more</a></p>
              </div>
            </div> 
          </div>

          <div class="col-md-6 col-lg-4 services ftco-animate">
          	<div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-kitchen"></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">Kitchen Cleaning</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                <p><a href="#" class="btn-custom">Read more</a></p>
              </div>
            </div> 
          </div>

          <div class="col-md-6 col-lg-4 services ftco-animate">
            <div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-garden"></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">Garden Cleaning</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                <p><a href="#" class="btn-custom">Read more</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 services ftco-animate">
          	<div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-balcony"></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">Window Cleaning</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                <p><a href="#" class="btn-custom">Read more</a></p>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section ftco-intro" style="background-image: url({%static 'images/bg_3.jpg'%});" data-stellar-background-ratio="0.5">
    	<div class="overlay"></div>
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-8 text-center">
    				<h2>Together we will explore new things</h2>
    				<a href="" class="icon-video d-flex align-items-center justify-content-center"><span class="fa fa-play"></span></a>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading mb-3">Price &amp; Plans</span>
            <h2>Choose Your Perfect Plans</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-7">
	            <div class="text-center">
	            	<div class="icon d-flex align-items-center justify-content-center"><span class="fa flaticon-sprayer"></span></div>
	            	<h4 class="heading-2">Starter</h4>
		            <span class="price"><sup>$</sup> <span class="number">49</span></span>
		            
		            <ul class="pricing-text mb-5">
		              <li><span class="fa fa-check mr-2"></span>Bedrooms cleaning</li>
		              <li><span class="fa fa-check mr-2"></span>Vacuuming</li>
		              <li><span class="fa fa-check mr-2"></span>Bathroom cleaning</li>
		              <li><span class="fa fa-check mr-2"></span>Mirrow cleaning</li>
		              <li><span class="fa fa-check mr-2"></span>Livingroom cleaning</li>
		            </ul>

		            <a href="#" class="btn btn-primary px-4 py-3">Get Started</a>
	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-7 active">
	            <div class="text-center">
	            <div class="icon d-flex align-items-center justify-content-center"><span class="fa flaticon-vacuum-cleaner"></span></div>
            	<h4 class="heading-2">Standard</h4>
	            <span class="price"><sup>$</sup> <span class="number">79</span></span>
	            
	            <ul class="pricing-text mb-5">
		              <li><span class="fa fa-check mr-2"></span>Bedrooms cleaning</li>
		              <li><span class="fa fa-check mr-2"></span>Vacuuming</li>
		              <li><span class="fa fa-check mr-2"></span>Bathroom cleaning</li>
		              <li><span class="fa fa-check mr-2"></span>Mirrow cleaning</li>
		              <li><span class="fa fa-check mr-2"></span>Livingroom cleaning</li>
		            </ul>

	            <a href="{%url 'contact' %}" class="btn btn-primary px-4 py-3">Get Started</a>
	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-7">
	            <div class="text-center">
	            	<div class="icon d-flex align-items-center justify-content-center"><span class="fa flaticon-tap"></span></div>
            	<h4 class="heading-2">Premium</h4>
	            <span class="price"><sup>$</sup> <span class="number">109</span></span>
	            
	            <ul class="pricing-text mb-5">
		              <li><span class="fa fa-check mr-2"></span>Bedrooms cleaning</li>
		              <li><span class="fa fa-check mr-2"></span>Vacuuming</li>
		              <li><span class="fa fa-check mr-2"></span>Bathroom cleaning</li>
		              <li><span class="fa fa-check mr-2"></span>Mirrow cleaning</li>
		              <li><span class="fa fa-check mr-2"></span>Livingroom cleaning</li>
		            </ul>

	            <a href="#" class="btn btn-primary px-4 py-3">Get Started</a>
	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-7">
	            <div class="text-center">
	            	<div class="icon d-flex align-items-center justify-content-center"><span class="fa flaticon-cleaning"></span></div>
            	<h4 class="heading-2">Platinum</h4>
	            <span class="price"><sup>$</sup> <span class="number">159</span></span>
	            
	            <ul class="pricing-text mb-5">
		              <li><span class="fa fa-check mr-2"></span>Bedrooms cleaning</li>
		              <li><span class="fa fa-check mr-2"></span>Vacuuming</li>
		              <li><span class="fa fa-check mr-2"></span>Bathroom cleaning</li>
		              <li><span class="fa fa-check mr-2"></span>Mirrow cleaning</li>
		              <li><span class="fa fa-check mr-2"></span>Livingroom cleaning</li>
		            </ul>

	            <a href="#" class="btn btn-primary px-4 py-3">Get Started</a>
	            </div>
	          </div>
	        </div>
	      </div>
    	</div>
    </section>

{% endblock %}